<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    window._csrf = "{{ .Csrf }}"
</script>
    <div class="container">
        <div id="cart-list"></div>
    </div>
    <script src="app.js" defer></script>
</body>